.metadata/
RemoteSystemsTempFiles/
target
*Debug.win32
*.sdf
*.opensdf
*.suo
*.ipch
*.userprefs
*.pidb
*.cachefile
*.swp
*.user
.DS_Store

.idea/
build/
cmake-build-debug/
.vscode/settings.json
spine-runtimes.code-workspace

spine-as3/spine-as3/.settings/com.powerflasher.fdt.core.metaDataTags.prefs

spine-c/Debug/*

spine-cpp/Debug/*

spine-sfml/Debug/*
spine-sfml/SFML
spine-sfml/dependencies
spine-sfml/c/dependencies
spine-sfml/cpp/dependencies
spine-sfml/cmake-build

spine-libgdx/spine-libgdx/bin
spine-libgdx/spine-libgdx-tests/bin
spine-libgdx/spine-skeletonviewer/bin

spine-cocos2dx/dependencies
spine-cocos2dx/example/cocos2dx.zip
spine-cocos2dx/example/__MACOSX
spine-cocos2dx/example/cocos2d
spine-cocos2dx/example/proj.win32/spine-cocos2d-x.VC.opendb
spine-cocos2dx/example/proj.win32/spine-cocos2d-x.VC.db
xcuserdata/
xcshareddata/

spine-cocos2d-objc/cocos2d/*
spine-cocos2d-objc/spine-cocos2d-iphone-objc.xcodeproj/project.xcworkspace/xcshareddata/

spine-csharp/bin
spine-csharp/obj
spine-csharp/src/*.meta
spine-csharp/src/*.cs.meta
spine-csharp/src/Attachments/*.cs.meta

spine-monogame/.vs/
spine-monogame/example/bin
spine-monogame/example/obj
spine-monogame/example/Content/bin/
spine-monogame/example/Content/obj/

spine-xna/bin
spine-xna/obj
spine-xna/example/bin
spine-xna/example/obj
spine-xna/example-content/obj/
spine-xna/.vs/

spine-unity/Assets/spine-csharp*
!spine-unity/Assets/spine-csharp/Place spine-csharp src here.*
!spine-unity/Assets/spine-csharp/add spine-csharp src here.*
spine-unity/Assets/Spine/Runtime/spine-csharp*
!spine-unity/Assets/Spine/Runtime/spine-csharp/add spine-csharp here.txt.meta
spine-unity/Assets/Tests/
spine-unity/Assets/Tests.meta
spine-unity/spine-unity.Editor.csproj
spine-unity/spine-unity.csproj
spine-unity/spine-unity.CSharp.csproj
spine-unity/spine-unity.CSharp.Editor.csproj
spine-unity/ProjectSettings
spine-unity/Temp
spine-unity/Library
spine-unity/*.sln
spine-unity/obj
Assembly-*.csproj
Assembly-*.pidb
AssetStoreTools*

examples/spine-unity/eyes/export/
examples/spine-unity/footsoldier/export/
examples/spine-unity/gauge/export/
examples/spine-unity/hero/export/
examples/spine-unity/raggedyspineboy/export/
examples/spine-unity/raptor/export/
examples/spine-unity/spineboy-pro/export/
examples/spine-unity/spineboy-unity/export/
examples/spine-unity/spineunitygirl/export/
examples/spine-unity/whirlyblendmodes/export/

spine-tk2d/Assets/spine-csharp*
!spine-tk2d/Assets/spine-csharp/Place spine-csharp src here.*
spine-tk2d/ProjectSettings
spine-tk2d/Temp
spine-tk2d/Library
spine-tk2d/*.sln
spine-tk2d/Assets/TK2DROOT*
spine-tk2d/Assets/-tk2d*

spine-corona/spine-lua/
!spine-corona/spine-lua/Place spine-lua here.txt

spine-love/spine-lua/
spine-love/love/
!spine-love/spine-lua/Place spine-lua here.txt

spine-as3/spine-as3-example/bin
spine-as3/spine-as3-example/lib/.spine-as3.swc.stamp

spine-starling/spine-starling-example/bin
spine-starling/spine-starling-example/lib/.spine-starling.swc.stamp

spine-turbulenz/spine-js/spine.js

spine-threejs/spine-js/spine.js

spine-ts/.vscode/*

spine-ue4/Binaries
spine-ue4/Intermediate
spine-ue4/Saved
spine-ue4/SpineUE4.xcworkspace
spine-ue4/Plugins/SpinePlugin/Source/SpinePlugin/Public/spine-c
spine-ue4/Plugins/SpinePlugin/Source/SpinePlugin/Public/spine-cpp
spine-ue4/Plugins/SpinePlugin/Binaries
spine-ue4/SpineUE4.VC.opendb
spine-ue4/SpineUE4.VC.db
spine-ue4/SpineUE4.sln
spine-ue4/SpineUE4.VC.db
spine-ue4/.vs/
spine-ue4/SpineUE4.VC.VC.opendb
