# When text is set to "auto", the path is marked for automatic end-of-line normalization.
# If git decides that the content is text, its line endings are normalized to LF on checkin.
# Set in case people don't have core.autocrlf set.
* text=auto

# We explicitly declare text files that shell be normalized on commit and
# converted to native line endings on checkout.
*.sh         text eol=lf

# Unity specific
*.mat               merge=unityyamlmerge text
*.anim              merge=unityyamlmerge text
*.unity             merge=unityyamlmerge text
*.prefab            merge=unityyamlmerge text
*.physicsMaterial2D merge=unityyamlmerge text
*.physicsMaterial   merge=unityyamlmerge text
*.asset             merge=unityyamlmerge text
*.meta              merge=unityyamlmerge text
*.controller        merge=unityyamlmerge text
