spine-cpp/Debug/*
spine-sfml/Debug/*
spine-libgdx/bin/*
spine-libgdx/libs/*
target
*Debug.win32
*.sdf
*.opensdf
*.suo
spine-cocos2dx/cocos2dx/
!spine-cocos2dx/cocos2dx/Place cocos2dx here.txt
*.swp
.DS_Store
xcuserdata
spine-cocos2dx/example/proj.ios/ExampleSpine.xcodeproj/project.xcworkspace/xcuserdata/*
