<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="250c9491-a89c-4807-9d04-9e460d32af09" Publisher="CN=Spine" Version="1.0.0.0" />
  <Properties>
    <DisplayName>spine-monogame-example</DisplayName>
    <PublisherDisplayName>Spine</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="spine_monogame_example.App">
      <VisualElements DisplayName="spine-monogame-example" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="spine-monogame-example" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>