body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Tahoma;
	font-size: 11pt;
}
canvas {
	position: absolute; width: 100% ;height: 100%;
}
.slider {
	width: 50%;
	border-radius: 3px;
	text-align: left;
	transform: translateZ(0);
}
.slider, .slider.filled span {
	height: 15px;
	border: 1px solid #c5c5c5;
}
.slider div {	
	position: absolute;
	top: -2px;
	width: 10px;
	height: 17px;
	background: white;
	border: #000 1px solid;
	border-radius: 2px;
	z-index: 10;
}
.slider.filled {
	border: 0;
}
.slider.filled div {	
	top: -1px;
	margin-left: 1px;
}
.slider.filled span {
	display: block;
	position: absolute;
	background: #3ea9f5;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	z-index: 5;
}
.slider.filled span:last-child {
	background: #222;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
